.projects-container {
    padding: 12px;
    /* Add some padding for better readability */
}

.web-development-projects a:hover img {
    /* Add hover effect for images within hyperlinks */
    filter: brightness(80%);
    /* Adjust brightness on hover */
    transition: filter 0.3s ease;
    /* Add smooth transition */
}