:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-padding: 5%; /* Adjust the content padding */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: left;
  font-family: 'Exo', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  padding: 0 var(--content-padding); /* Use variable for content padding */
}

a:hover {
  background-color: #E43F5A;
}

.header {
  padding: 20px;
  background-color: #222529;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  color: whitesmoke;
}

.header h1 .seo {
  color: whitesmoke;
}

ul a {
  color: #ffffff;
  text-decoration: none;
}

.web-development-projects h2 {
  text-align: center;
}

.web-development-projects p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; /* Add padding top and bottom */
}

.left,
.right {
  width: 48%;
}

.image-container {
  width: 50%;
  text-align: right; /* Align the image to the right */
}

.image {
  width: 80%; /* Adjust the image width */
  max-width: 100%; /* Ensure responsiveness */
  height: auto;
}

.text-container {
  width: 50%;
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%; /* Increase the padding top */
  padding-bottom: 2%; /* Increase the padding bottom */
}

.content {
  width: 100%;
  display: inline-block;
  margin-left: 15px;
}

.footer {
  padding: 25px;
  clear: both;
  text-align: start;
  background-color: #1F4068;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.footer h2 {
  font-size: 20px;
  color: whitesmoke;
}

.left {
  background-color: #222529;
}

.right {
  background-color: #222529;
}

.center {
  background-color: #222529;
}

.navbar-toggler-icon {
  background-color: #E43F5A;
}

.navbar-toggler {
  background-color: #E43F5A;
}

.collapsibleNavbar {
  background-color: #E43F5A;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 2%; /* Adjust content padding for smaller screens */
  }
  
  .container {
    flex-direction: column; /* Stack items on smaller screens */
  }

  .image-container,
  .text-container {
    width: 100%;
  }
}
